.sorting {
    margin-top: 2rem;
}

.sortingTitle {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.sortingOptions {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: none;
    color: var(--text-color);
}

select>option {
    background-color: #282B30;
}